<nav class="site-nav" role="navigation">
  <div class="container">
    <ol>
      <li><%= link_to "Get Started", "#get-started" %></li>
      <li><%= link_to "Documentation", "//bourbon.io/docs" %></li>
      <li><%= link_to "Examples", "examples" %></li>
      <li><%= link_to "GitHub", "//github.com/thoughtbot/bourbon" %></li>
    </ol>
  </div>
</nav>
