---
title: "Bourbon Stickers"
description: "Sign up to receive Bourbon stickers."
---
<h1><%= current_page.data.title %></h1>

<section>
  <div class="container">
    <form accept-charset="UTF-8" method="POST" action="">
      <input type="hidden" name="utf8" value="✓">
      <input type="text" name="name" placeholder="Full Name">
      <input type="email" name="email" placeholder="Your Email">
    </form>
  </div>
</section>
